body { padding: 0; margin: 0 ; background:black}
#unity-container { position: absolute ; background: url('background.png');background-size: cover;
  overflow: hidden; }
#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  padding-bottom: env(safe-area-inset-bottom);
}
#unity-canvas { background:'transparent' }
.unity-mobile #unity-canvas {
   width: 100%;
    height: 100% ;
  }
#unity-loading-bar {
  position: absolute;
  left: 50%;
  top: calc(73%);
  transform: translateX(-50%);
  display: none;
  width: 63%; height: 2.5%;
}

#unity-loading-bar.unity-mobile{
position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  top: 80%;
  width: 60%; height: 2.5%;
}

#unity-progress-bar-empty {
  width: 100%;
  height: 100%;
  background: url('loading-empty.png') no-repeat center;
  background-size: cover;
  overflow: hidden; /* this clips the fill to the rounded shape */
  background-size: 100% 100%;
}

#unity-progress-bar-fill-wrapper {
  width: 100%;  /* Full width, but child inside grows */
  height: 100%;
  background-color: transparent; /* no default fill color */
  overflow: hidden;
}

#unity-progress-bar-full {
  width: 0%; /* this is what grows */
  height: 100%;
  background: url('loading-fill.png') no-repeat left center;
  background-size: cover;
  background-size: 100% 100%;
}


#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-logo-title-footer { float:left; width: 102px; height: 38px; background: url('unity-logo-title-footer.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { cursor:pointer; float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }
